/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario select {
    appearance: none;
}

.formulario input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.restaurant-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.restaurant-list a {
    text-decoration: none;
    margin: 20px;
    display: block;
    color: #333;
}

.restaurant-list img {
    width: 200px;
    height: 150px;
}

.restaurant-list h2 {
    margin-top: 10px;
}

/* Agrega estilos adicionales según tus preferencias */
